header h1 {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

section h2 {
    text-align: center;
    font-weight: bold;
}

section table {
    margin: 0 auto;
    border: 3px rgb(1, 27, 2) solid;
    background-color: greenyellow;
}

section table thead tr {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1px 2px;
}

section table td {
    border: 1px rgb(1, 27, 2) solid;
    padding: 1px 2px;
}


body {
    background-color: darkseagreen;
}

